<ion-header container mode="ios">
  <ion-row>
      <ion-col>
        <br>
          <div cr-header> Customer Registration  </div>
          <br>
      </ion-col>
  </ion-row>
 </ion-header>

<ion-content>

  <ion-card>  
  <form [formGroup]="customerForm"  >
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" formControlName="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input type="text" formControlName="city"></ion-input>
    </ion-item>
    
   <ion-item>
      <ion-label position="floating">State</ion-label>
      <ion-input type="text" formControlName="state"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Country</ion-label>
      <ion-input type="text" formControlName="country"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Zipcode</ion-label>
      <ion-input type="text"  formControlName="zipcode"></ion-input>
    </ion-item>
    


    <br><br>
    <ion-button type="button" ng-click="submit()" expand="block" (click)="onSubmit()" color="success">Submit</ion-button>
    <br><br>
  </form>
</ion-card>


<!-- <ion-card>
  <form novalidate [formGroup]="customerForm"  (ngSubmit)="onSubmit()">
    
      <mat-form-field class="full-width">
        <input matInput formControlName="name" placeholder="First Name" type="text" required>
        <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="email" placeholder="Email" type="text" required>
        <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="username" placeholder="Username" type="text" required>
        <mat-error *ngIf="formErrors.username">{{formErrors.username}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="password" placeholder="Password" type="text" required>
        <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="confirmPassword" placeholder="Confirm Password" type="text" required>
        <mat-error *ngIf="formErrors.confirmPassword">{{formErrors.confirmPassword}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="address" placeholder="Address" type="text" required>
        <mat-error *ngIf="formErrors.address">{{formErrors.address}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="city" placeholder="City" type="text" required>
        <mat-error *ngIf="formErrors.city">{{formErrors.city}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="state" placeholder="State" type="text" required>
        <mat-error *ngIf="formErrors.state">{{formErrors.state}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="country" placeholder="Country" type="text" required>
        <mat-error *ngIf="formErrors.country">{{formErrors.country}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="zipcode" placeholder="Zipcode" type="text" required>
        <mat-error *ngIf="formErrors.zipcode">{{formErrors.zipcode}}</mat-error>
      </mat-form-field>
    <ion-button [disabled]="!customerForm.valid" ng-submit="submit()" type="button" mat-button class="background-primary text-floral-white">Submit</ion-button>
  </form>
</ion-card> -->

</ion-content>
