<ion-header>
  <ion-toolbar>
    <ion-title text-center>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!-- <ion-card-header > </ion-card-header> -->
    <br>
    <ion-card-title text-center> Owner</ion-card-title>
    <ion-card-content>
    <ion-img [src]="myImage"></ion-img>
    <br>
    <div style="padding-left: 14%">
      <table>
        <tr>
          
          <td>Name</td>
          <td></td>
          <td>&nbsp;&nbsp;Anuj Parmar</td>
        </tr>
        <tr>
          
          <td>Mobile</td>
          <td></td>
          <td>&nbsp;&nbsp;7024426675</td>
        </tr>
        <tr>
          
          <td>Occupation</td>
          <td></td>
          <td>&nbsp;&nbsp;Software Engineer</td>
        </tr>
      </table>
    </div>
    </ion-card-content>
  </ion-card>
</ion-content>
